<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36469899434-j8f0cusss7937nam6cqegq4i35lus6m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36469899434-j8f0cusss7937nam6cqegq4i35lus6m1</string>
	<key>API_KEY</key>
	<string>AIzaSyCvx0-N23ieSLvlq1KcCE8dC7X7wcCl_O8</string>
	<key>GCM_SENDER_ID</key>
	<string>36469899434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HarvardHack.prof-io</string>
	<key>PROJECT_ID</key>
	<string>harvardhack-46800</string>
	<key>STORAGE_BUCKET</key>
	<string>harvardhack-46800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36469899434:ios:4838f0570770395019d0d3</string>
</dict>
</plist>